[submodule "t4blu3024"]
	path = t4blu3024
	url = https://github.com/arthurroders/t4blu3024.git
	branch = master
[submodule "blu3024"]
	path = blu3024
	url = https://github.com/arthurroders/blu3024.git
	branch = master
[submodule "gitteste1"]
	path = gitteste1
	url = https://github.com/JGustavoE/gitteste1.git
